.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Investment Inventory.xlsx
.~lock.Investment Inventory.xlsx#
Investment Inventory.gsheet
risk_dashboard.html
risk_dashboard_files
Rplot.png
scratchpad.html
scratchpad_files
.RData
